<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <center>
      <h1>Algoscale - Login Page</h1>
      <hr>
    <form method="post">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-success" value="Log In">
    </form><br>
    Don't have an account : <a href="/signup">Register now</a>
  </body>
</html>
